<%= form_with(model: capsule, local: true) do |form| %>
  <% if capsule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capsule.errors.count, "error") %> prohibited this capsule from being saved:</h2>

      <ul>
      <% capsule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.date_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.date_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
