<p id="notice"><%= notice %></p>

<h1>Capsules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capsules.each do |capsule| %>
      <tr>
        <td><%= capsule.name %></td>
        <td><%= capsule.start_time %></td>
        <td><%= capsule.end_time %></td>
        <td><%= capsule.remarks %></td>
        <td><%= link_to 'Show', capsule %></td>
        <td><%= link_to 'Edit', edit_capsule_path(capsule) %></td>
        <td><%= link_to 'Destroy', capsule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capsule', new_capsule_path %>
