<p id="notice"><%= notice %></p>

<h1>Characters</h1>





<%  @characters.group(:band_id).each do |b| %>
  <% @characters_band = @characters.where(band_id: b.band_id) %>
<!-- アコーディオン_<%= b.band.name %> -->
<div id="accordion_<%= b.band_id %>" class="my-1">
  <% @characters_band.each do |c| %>
  <div id="collapse_<%= c.id %>" class="collapse" aria-labelledby="accordion_<%= b.band_id %>" data-parent="#accordion_<%= b.band_id %>">
    <div class="card" >
      <div class="card-body">
      <% c.cards.each do |card| %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck<%= card.id %>">
          <label class="custom-control-label" for="customCheck<%= card.id %>"><%= card.name %></label>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- 表示_<%= b.band_id %> -->
<div class="row">
  <% @characters_band.each do |c| %>
  <div class="col">
    <div class="card" data-toggle="collapse" data-target="#collapse_<%= c.id %>" aria-expanded="true" aria-controls="collapse_<%= c.id %>">
      <img class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%#= c.first_name + c.last_name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<br>
<%= link_to 'New Character', new_character_path %>
