<p id="notice"><%= notice %></p>

<h1>Characters</h1>




<% @member_count = 0 %>

<div id="accordion">
<% @characters.each do |character| %>

<!-- メンバー最初だけrow追加 -->
  <% if @member_count == 0 %>
<div class="row">
  <% end %> 
  <% @member_count = @member_count + 1 %>

  <div class="col card" data-toggle="collapse" data-target="#collapse_<%= character.id %>" aria-expanded="true" aria-controls="collapse_<%= character.id %>">
    <img class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%#= character.first_name + character.last_name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <!-- アコーディオン -->
  <div class="row">
    <div id="collapse_<%= character.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Character.id = <%= character.id %>
      </div>
    </div>
  </div>

  <!-- メンバー最後だけrow終わりを追加 -->
  <% if BAND_MEMBERS == @member_count %>
</div>
    <% @member_count = 0 %>
  <% end %>



<% end %>
</div>
<br>
<%= link_to 'New Character', new_character_path %>
