<% provide(:title, "Characters") %>

<!-- <h1>Characters</h1> -->
<div class="row justify-content-center">
  <div class="jumbotron">
    <h1>Example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.<div class="possession_rate"></div></p>
    <a class="btn btn-lg btn-primary" href="" role="button">View navbar docs »</a>
  </div>
</div>

<!-- キャラクターカード一覧(モーダル) -->
<div id="card_list">
  <% @characters.each do |character| %>
    <div class="modal fade" id="Modal<%= character.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= character.last_name + " " + character.first_name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルボティ -->
          <div class="modal-body">

            <!-- ソート -->
            <h5>Sort</h5>
            <button type="button" class="btn btn-primary btn-select_all">全選択</button>
            <button type="button" class="btn btn-secondary btn-all_cancellation">全解除</button>
            <hr>

            <!-- カードリスト -->
            <h5>Card List</h5>
            <div class="card_checkbox_list">
              <% character.cards.each do |card| %>
                <div class="custom-control custom-checkbox card_checkbox checkbox_<%= card.character_id %>">
                  <input type="checkbox" class="custom-control-input" id="customCheck<%= card.id %>">
                  <label class="custom-control-label" for="customCheck<%= card.id %>"><%= card.name %></label>
                </div>
              <% end %>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% @characters.select("band_id").group("band_id").each do |b| %>
  <% @characters_band = @characters.where(band_id: b.band_id) %>
  <div class="row d-none d-md-block">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <% #5列表示対応 %>
        <%  @characters_band.each do |character| %>
        <div class="card col-md-2 m-1" data-toggle="modal" data-target="#Modal<%= character.id %>">
          <%= image_tag 'sample.svg' %>
          <div class="card-body">
            <h5 class="card-title"><%= character.last_name + " " + character.first_name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- タブレット・スマホ用 -->
<%  @characters.each do |character| %>
<div class="row m-1 justify-content-center">
  <div class="col-md-12">
    <div class="card d-block d-md-none" data-toggle="modal" data-target="#Modal<%= character.id %>">
      <%= image_tag('sample.svg', :class => "card-img-top", :alt => "") %>
      <div class="card-body">
        <h5 class="card-title"><%= character.last_name + " " + character.first_name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
