<p id="notice"><%= notice %></p>

<h1>Bang Dream Characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Band</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bang_dream_characters.each do |bang_dream_character| %>
      <tr>
        <td><%= bang_dream_character.name %></td>
        <td><%= bang_dream_character.band_id %></td>
        <td><%= link_to 'Show', bang_dream_character %></td>
        <td><%= link_to 'Edit', edit_bang_dream_character_path(bang_dream_character) %></td>
        <td><%= link_to 'Destroy', bang_dream_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bang Dream Character', new_bang_dream_character_path %>
