
<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :reality, class: 'col-md-2 col-form-label'%>
    <div class="col-md-10">
      <%= form.number_field :reality, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name_kana, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.text_field :name_kana, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :character_id, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :character_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :capsule_id, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :capsule_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :element_id, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :element_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :performance, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :performance, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :technic, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :technic, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :visual, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.number_field :visual, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :introduction, class: 'col-md-2 col-form-label' %>
    <div class="col-md-10">
      <%= form.text_area :introduction, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
