<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD GAP DB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- Image and text -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#"><%= yield(:title) %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= current_page?(top_index_path) ? "active" : "disabled" %>">
        <%= link_to(top_index_path, class: 'nav-link') do %>
          Top <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= current_page?(characters_path) ? "active" : "disabled" %>">
        <%= link_to(characters_path, class: 'nav-link') do %>
          Character <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= current_page?(cards_path) ? "active" : "disabled" %>">
        <%= link_to(cards_path, class: 'nav-link') do %>
          Card <span class="sr-only">(current)</span>
        <% end %>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Twitter</button>
    </form>
  </div>
</nav>

  <body>
    <div class="container-fluid">
<!--       <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p> -->
      <%= yield %>
    </div>
  </body>
</html>
